{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!-- banner section start -->
        <section class="banner-section d-flex align-items-center position-relative">
            
          <div class="container">
              <div class="row align-items-center">
                  <div class="col-md-6">
                      <div class="banner-text">
                          <!-- <h2 class="mb-3">Tiêu đề ...</h2> -->
                          <h1 class="mb-3 text-capitalize">Knowledge Hub</h1>
                          <p class="mb-4">
                              Tại Knowledge Hub, chúng tôi tin rằng mỗi cá nhân có quyền
                              truy cập vào kiến thức và cơ hội phát triển bản thân.
                              Với một thư viện học liệu đa dạng, các khóa học chất lượng,
                              và một cộng đồng học tập mở và chia sẻ, chúng tôi cam kết mang
                              đến cho bạn trải nghiệm học tập đầy cảm hứng và hiệu quả.

                              Hãy tham gia vào hành trình khám phá kiến thức mới, phát triển kỹ năng
                              và mở rộng tầm nhìn của bạn cùng với Knowledge Hub ngay hôm nay!
                          </p>
                          <a href="#" class="btn btn-theme">join for free</a>
                      </div>
                  </div>
                  <div class="col-md-6 order-first order-md-last mb-5 mb-md-0">
                      <div class="banner-img">
                        <div class="circular-img">
                          <div class="circular-img-inner">
                            <div class="circular-img-circle"></div>
                            <img src="{% static 'img/banner-img.png' %}" alt="banner img">
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
          </div>
      </section>
      <!-- banner section end -->


      <!-- fun facts section start -->
      <section class="fun-facts-section">
        <div class="container">
          <div class="box py-2">
            <div class="row text-center">
              <div class="col-md-6 col-lg-3">
                <div class="fun-facts-item">
                  <h2 class="style-1">{{ students_count }}</h2>
                  <p>Người học</p>
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="fun-facts-item">
                  <h2 class="style-2">{{ courses_count }}</h2>
                  <p>Khóa học</p>
                </div>
              </div>
              <!-- <div class="col-md-6 col-lg-3">
                <div class="fun-facts-item">
                  <h2 class="style-3">30+</h2>
                  <p>countries</p>
                </div>
              </div> -->
              <div class="col-md-6 col-lg-3">
                <div class="fun-facts-item">
                  <h2 class="style-4">{{ lecturers_count }}</h2>
                  <p>Giảng viên</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- fun facts section end -->

      <!-- courses section start -->
      <section class="courses-section section-padding">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="section-title text-center">
                <h2 class="title">Khóa học</h2>
                <p class="sub-title">Tìm khóa học phù hợp nhất với bạn</p>
              </div>
            </div>
          </div>

          <div class="row">
            {% for course in courses %}
            <!-- courses-item start -->
            <div class="col-md-6 col-lg-3">
                <div class="courses-item">
                  <a href="{% url 'course-detail' code=course.code %}" class="link">
                    <div class="courses-item-inner">
                      <div class="img-box">
                        <img src="{{ course.picture.url }}" alt="courses img">
                      </div>
                      <h3 class="title">{{course.name}} <br> ({{course.code}})</h3>
                      <div class="instructor">
                        <img src="{{ course.lecturer.lecturer.picture.url }}">
                        <span class="instructor-name">{{ course.lecturer }}</span>
                      </div>
                      <div class="price"><i class="fas fa-user"></i>  {{ student_count|get_item:course.code}}</div>
                    </div>
                  </a>
                </div>
              </div>
              {% endfor %}
          </div>
          <div class="row">
            <div class="col-12 text-center mt-3">
              <a href="#" class="btn btn-theme">view all courses</a>
            </div>
          </div>
        </div>
          </div>
        </div>
      </section>

      <!-- courses section end -->

{% endblock %}