{% extends 'base.html' %}
{% load static %}
{% block title %} Đăng nhập - {% endblock %}

{% block content %}
    <!-- Login section start -->
    <section class="login-section section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-6 col-xl-5">
                    <div class="login-form box">
                        <h2 class="form-title text-center">Đăng nhập</h2>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                {{ form.password }}
                                <br>
                                <div class="d-flex mb-2 justify-content-end"><a href="#">Quên mật khẩu?</a></div>
                            </div>
                            <button type="submit" class="btn btn-theme btn-block btn-form"  >Đăng nhập</button>
                            {% include 'components/messages.html' %}
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Login section end -->
{% endblock %}