<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title> {% block title %}{% endblock %} Knowledge Hub </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'img/LMS_logo-removebg.png' %}" rel="icon">
  <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/team.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  <link rel="stylesheet" class="js-color-style" href="{% static 'css/colors/color-1.css' %}">
  <link rel="stylesheet" class="js-glass-style" href="{% static 'css/glass.css' %}" disabled>
  <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
  {% block css %}{% endblock %}
  {{ form.media }}
</head>

<body>
    <!-- page loader start -->
    <div class="page-loader js-page-loader">
        <div></div>
    </div>
    <!-- page loader end -->
    
    
    <!-- main wrapper start -->
<div class="main-wrapper">
        <!-- header start -->
        {% include 'components/header.html' %}
        <!-- header end -->

        <!-- bubble animation start -->
        {% include 'components/bubble-animation.html' %}
        <!-- bubble animation end -->

        {% block content %}

        {% endblock %}


    <!-- footer start -->
    {% include 'components/footer.html' %}
    <!-- footer end -->

</div>
    <!-- main wrapper end -->
    
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>  
    <script src="{% static 'js/main.js' %}"></script>

    {% block js %}
    {% endblock %}
</body>

</html>