<div class="bubble-animation">
    <div class="bubble-animation-item"></div>
    <div class="bubble-animation-item"></div>
    <div class="bubble-animation-item"></div>
    <div class="bubble-animation-item"></div>
    <div class="bubble-animation-item"></div>
    <div class="bubble-animation-item"></div>
    <div class="bubble-animation-item"></div>
    <div class="bubble-animation-item"></div>
    <div class="bubble-animation-item"></div>
    <div class="bubble-animation-item"></div>    
</div>