<footer>
    <div class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-item">
                            <h3 class="footer-logo"><span>Knowledge</span> Hub</h3>
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">what we offer</a></li>
                                <li><a href="#">cartificates</a></li>
                                <li><a href="#">blog</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-item">
                            <h3>learning</h3>
                            <ul>
                                <li><a href="#">get the app</a></li>
                                <li><a href="#">testimonials</a></li>
                                <li><a href="">pricing</a></li>
                                <li><a href="">faq</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-item">
                            <h3>more</h3>
                            <ul>
                                <li><a href="#">affiliates</a></li>
                                <li><a href="#">become a course creater</a></li>
                                <li><a href="#">traing webinars</a></li>
                                <li><a href="#">free personality test</a></li>
                                <li><a href="#">help and support</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-item">
                            <h3>get in touch</h3>
                            <ul>
                                <li><a href="https://www.facebook.com/profile.php?id=100027446556483"><i class="fab fa-facebook"></i> facebook </a></li>
                                <li><a href="https://www.linkedin.com/in/phong-nguyễn-duy-a50b59255"><i class="fab fa-linkedin social-icon"></i> linkedin </a></li>
                                <li><a href="https://github.com/phongnd2802"><i class="fab fa-github"></i> github </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p class="m-0 py-4 text-center">
                Copyright &copy; 2024 <a href="#">Nguyen Duy Phong</a>
            </p>
        </div>
    </div>
</footer>